**Print Statement**

In [1]:
print("Hello World!")

Hello World!

In [3]:
#printing multiple lines
print("""Hello world!,
      How are you?""")

Hello world!,
      How are you?

In [5]:
print("Hello" "World!" "\n"
      "How are you again?!")

HelloWorld!
How are you again?!

**Exceptional cases in print statement**

In [17]:
print("Hello 'World'!") # if want to print single quotes
print('Hello "World"!') # if want to print double quotes

Hello 'World'!
Hello "World"!

In [19]:
language = "Python"
print(f"I am learning {language}!") # f-string for formatting

I am learning Python!

**Comments**

In [6]:
# say hello to the world -> this is a comment
print("Hello World!")

Hello World!

In [11]:
#Multi 
#line 
#comment

In [15]:
#Multi line comment
'''
Hi, How
are
you?
'''
print("Hello World!")

Hello World!

**Variables** (variable is nothing but the container to store data)
- variable name should start with alphabet
- variable name should not contain special character (except '_')
- variable names can contain numbers but we cant start a variable name with a number
- It's not a strict rule that we should start a variable name with capital letter. But its recommended to use small letters for tha variables.

In [20]:
t = 10
ten = 10
ten_number = 10
tenNumber = 10
x = 5
name = "John"

In [22]:
# Assigning multiple variables in one line
a, b, c = 1, 2, 3

In [23]:
# Checking type of a variable
print(type(t))  # <class 'int'>

<class 'int'>

**Fundamental Data Types**

In [24]:
# Numeric

a = 7 # Integer
b = 3.14 # Float
c = 2 + 3j # Complex

In [25]:
print(type(a))  # <class 'int'>
print(type(b))  # <class 'float'>
print(type(c))  # <class 'complex'>

<class 'int'>
<class 'float'>
<class 'complex'>

In [26]:
print(c.real)  # Real part of complex number
print(c.imag)  # Imaginary part of complex number

2.0
3.0

In [27]:
# Text

name = "Alice"  # String
print(type(name))  # <class 'str'>

<class 'str'>

In [29]:
# Boolean variable

x = True  # Boolean
y = False  # Boolean

print(type(x))  # <class 'bool'>
print(type(y))  # <class 'bool'>

<class 'bool'>
<class 'bool'>

**User Input**

In [36]:
# input keyword is used to take input from the user in real-time

name = input("Enter your name: ") # Taking user input for name

print(f"Hello, {name}!")  # Greeting the user with their name

Hello, John!

In [35]:
name = input("Enter your name: ")  # Taking user input for name
place = input("Enter your place: ")  # Taking user input for place
year_of_birth = input("Enter your year of birth: ")  # Taking user input for year of birth

print(f"Hello, {name} from {place}! You were born in {year_of_birth}.")  # Greeting the user with their details

Hello, John from Birmingham! You were born in 1991.

In [37]:
# calculate the age of the user

name = input("Enter your name: ")
year_of_birth = int(input("Enter your year of birth: "))  # Taking user input for year of birth and converting it to an integer

from datetime import datetime
current_year = datetime.now().year  # Get the current year

print(f"Hello, {name}! Your age is {current_year - year_of_birth}")

Hello, Alex! Your age is 32

**Type Conversion**
- We can convert the data type of one variable into another if it is allowed.

In [40]:
A = input("Enter a number: ")  
B = input("Enter another number: ")

print(f"A = {A} & Type of A: {type(A)}" "\n"
      f"B = {B} & Type of B: {type(B)}")

A = 10 & Type of A: <class 'str'>
B = 20 & Type of B: <class 'str'>

In above code the A & B is taking input as string and hence its showing the A & B's values as string.

Here we need to do the type conversion

In [41]:
A = int(input("Enter a number: "))  
B = int(input("Enter another number: "))

print(f"A = {A} & Type of A: {type(A)}" "\n"
      f"B = {B} & Type of B: {type(B)}")

A = 50 & Type of A: <class 'int'>
B = 60 & Type of B: <class 'int'>

In [48]:
# string to integer conversion

A = "10"
print(f"Type of A (where A = {A}) before conversion: {type(A)}")
A = int(A)  # Converting string to integer
print(f"Type of A (where A = {A}) after conversion: {type(A)}")

Type of A (where A = 10) before conversion: <class 'str'>
Type of A (where A = 10) after conversion: <class 'int'>

In [47]:
# integer to string conversion

B = 20
print(f"Type of B (where B = {B}) before conversion: {type(B)}")        
B = str(B)  # Converting integer to string
print(f"Type of B (where B = {B}) after conversion: {type(B)}")

Type of B (where B = 20) before conversion: <class 'int'>
Type of B (where B = 20) after conversion: <class 'str'>

In [49]:
# integer to float conversion

C = 30
print(f"Type of C (where C = {C}) before conversion: {type(C)}")
C = float(C)  # Converting integer to float     
print(f"Type of C (where C = {C}) after conversion: {type(C)}")

Type of C (where C = 30) before conversion: <class 'int'>
Type of C (where C = 30.0) after conversion: <class 'float'>

In [50]:
# float to integer conversion

D = 40.5
print(f"Type of D (where D = {D}) before conversion: {type(D)}")
D = int(D)  # Converting float to integer
print(f"Type of D (where D = {D}) after conversion: {type(D)}")

Type of D (where D = 40.5) before conversion: <class 'float'>
Type of D (where D = 40) after conversion: <class 'int'>

In [ ]:
# integer to boolean conversion
# True = 1
# False = 0
 
E = 50
print(f"Type of E (where E = {E}) before conversion: {type(E)}")    
E = bool(E)  # Converting integer to boolean
print(f"Type of E (where E = {E}) after conversion: {type(E)}")

Type of E (where E = 50) before conversion: <class 'int'>
Type of E (where E = True) after conversion: <class 'bool'>

**Memory Block**

In [53]:
a = 22
b = 7
c = 22

In [54]:
print(id(a))  # Memory address of variable a
print(id(b))  # Memory address of variable b        
print(id(c))  # Memory address of variable c

140710013298248
140710013297768
140710013298248

Here we see the memory add of a and c is same even the tough the variable names are differe. 
It is because the memory is allocated to the value of the variable not to the variable.

In [55]:
a = 22
b = 7
c = 22.0

print(id(a))  # Memory address of variable a
print(id(b))  # Memory address of variable b        
print(id(c))  # Memory address of variable c

140710013298248
140710013297768
2141045157008

Now the memory add of a and c is diff because the value of a int and of c is float.

**Operators**
- Logical
- Equality
- Comparison
- Arithmatic